<!DOCTYPE html>
<html lang="en">
<head>
    <title>Universidad Fronteriza de Ciudad Juárez</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!--metadatos-->
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Universidad Fronteriza de Ciudad Juárez, 16 días de activismo contra la violencia de género..."/>
    <meta name="keywords" content="Fronteriza, Universidad, Activismo"/>
    <meta name="robots" content="index"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/EstiloFooter.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/admision.css">
    <link rel="stylesheet" href="/css/buscador.css">
</head>
<body>
    <header class="">
        <div class="logo">
            <a href="/">
                <img alt="UFCJ" class="logo" src="/images/favicon.ico"/>
            </a>
        </div>
        <b><h1 class="ufcj">UNIVERSIDAD FRONTERIZA DE CIUDAD JUÁREZ</h1></b>
            <div class="buscar-wrapper">
                <ul id="results" class="results"></ul>
                <input type="text" id="buscar" placeholder="Buscar" class="buscar-input">
                <button onclick="buscar()" class="buscar-button">Buscar</button>
            </div>
            <script src="/js/Buscador.js"></script>
        </div>
    </header>

    <div id="menu">
        <ul id="menu-list">
            <!--Elementos dinámicos-->
        </ul>
    </div>
    <script src="/js/Menu.js"></script>
    
    <div class="d-flex flex-column flex-md-row container">
        <div class="cuadro_verde">
            <img src="/images/admision.jpg" alt="Examen de admisión" class="img">
        </div>
        
        <div class="recuadro">
            <h1 class="admision">EXAMEN DE ADMISIÓN</h1>
            Las inscripciones para el año académico 2024 comienzan el 09 de mayo. Asegúrate de
            completar tu solicitud antes del 15 de mayo para garantizar tu consideración para el
            próximo semestre.
            <br>
            <p class="pasos">
            <br><b>Pasos para realizar tu inscripcion:</b></br>
            <br>1.- Registrarse en el siguiente link: <link rel="stylesheet" href="">https://INSCRIPCIONES_FRONTERIZA.com </br>
            <br>2.- Esperar a que te envien la referencia bancaria</br>
            <br>3.- Realiza el pago en el banco solicitado.</br>
            <br>4.- Realizar el examen de admisión.</br>
            <br>5.- Revisar los resultados el dia 31 de Mayo.</br>
          </p>
        </div>
    </div>

    <footer>
        <div id="dynamic-footer">
        </div>
    </footer>

    <script src="/js/Footer.js"></script>
</body>
</html>