/*Botones*/
.column-left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 500px;
}
.column-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.btn-group-vertical .btn {
    margin-bottom: 20px;
    width: 300px;
    margin-top: auto;
}

.color {
    background-color: #e4e0df;
}

.recuadro {
    background-color: #799b8c; 
    padding: 20px; 
    margin-left: 50px; 
    width: 100%; 
    color: white;
    text-align: justify;
    font-weight: 400;
    letter-spacing: 2px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .img {
    margin-right: 100px;
    margin-left: -120px;
    width: 520px;
    height: 400px;
  }
  
  .becas {
    text-align: center;
  }
  
  .cel {
    text-align: center;
  }