footer {
    background-color: #052026;
    color: white;
    padding: 20px;
    text-align: center;
}

#dynamic-footer {
    font-size: 18px;
    text-align: center;
    white-space: pre-line;
    font-weight: 500;
}