*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  
  div.c{
    position: relative;
    margin:2em;
  }
  .input{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity:0;
    visibility: 0;
  }
  h5{
    background:#87a799;
    color:rgb(0, 0, 0);
    padding:1em;
    position: relative;
  }
  label::before{
    content:"";
    display: inline-block;
    border: 15px solid transparent;
    border-left:20px solid #052026;
  }
  label{
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
  }
  div.p{
    max-height:0px;
    overflow: hidden;
    transition:max-height 0.5s;
    background-color: white;
    box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
  div.p p {
    padding:2em;
  }
  .input:checked ~ h5 label::before{
    border-left:15px solid transparent;
    border-top:20px solid #052026;
    margin-top:12px;
    margin-right:10px;
  }
  .input:checked ~ h5 ~ div.p{
    max-height:100px;
  }
  a{
    color:steelblue;
  }