/* Estilos de Búzon de Quejas */
.inputs, select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
}

input[type=submit] {
    background-color: #052026;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0f6072;
}

.container-principal {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container {
    flex: 1;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    margin-right: auto;
    min-width: 400px;
    margin-left: auto;
}


form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

.btn-regresar {
    padding: 10px 20px;
    background-color: #052026;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 10px;
}